AMC_BOOTSTRAP=1
AMC_GATEWAY_PORT=3210
AMC_PROXY_PORT=3211
AMC_STUDIO_PORT=3212
AMC_TLS_PORT=8443
AMC_ALLOWED_CIDRS=127.0.0.1/32,192.168.0.0/16,10.0.0.0/8,172.16.0.0/12,::1/128
AMC_QUERY_LEASE_CARRIER_ENABLED=false
AMC_ENABLE_NOTARY=0
AMC_NOTARY_BASE_URL=http://amc-notary:4343
AMC_NOTARY_REQUIRED_ATTESTATION=SOFTWARE
